

/* GLOBAL STYLES */

html,
body {
    height: 100%;
    width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}


#root{
  height: 100%;
  width: 100%;
}

/* NAV */

nav {
  background-color: #C00026;
}

.navbar-brand {
  font-size: 1.75rem !important;
}

/* FONT */

.text-size-sm {
  font-size: 13px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 700px) { 
  #header { 
    display: none; 
  }

  #legend {
    height: 32% !important;
  }

  footer { 
    display: none !important; 
  }
}